.testimonials-section {
    padding: 100px 2rem;
    background: #FEFDFF;
}

.testimonials-container {
    max-width: 1400px;
    margin: 0 auto;
}

.testimonials-section .section-title {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
}