.lottie-animation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent !important;
}

.lottie-animation-wrapper svg {
    width: 100%;
    height: 100%;
    background: transparent !important;
}

.lottie-animation-wrapper canvas {
    background: transparent !important;
}

